[% WRAPPER "_wrapper.tt" WITH title = "Intern::Diary::Add" %]
  Intern-Diary
    <a href="../">リストに戻る</a>
  <a href="./entry?page=1">個別記事</a>
  <h2>Add entry</h2>
<form action="/entry/add" method="post">
  <table>
    <tr>
      <th><label for="Title">Title</label></th>
      <td>
        <input type="text" id="title" name="title" class="text" value="[% entry ? entry.title : c.req.param('title') %]"/>
      </td>
    </tr>
    <tr>
      <th><label for="comment">Text</label></th>
      <td>
        <textarea id="text" name="text"  class="text" >[% entry ? entry.text : c.req.param('text') %]</textarea>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="submit">
        <input type="submit" value="作成"/>
      </td>
    </tr>
  </table>
</form>

[% END %]