<html>
<head>
    <title>[% title %]</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script type="text/javascript" src="/js/underscore.js"></script>
    <script type="text/javascript" src="/js/entry.js"></script>
</head>
<body>
    <div class=row>
      <a href="../">Intern::Diary</a>
      <a href="../">リストに戻る</a>
      <a href="./entry/add">記事を書く</a>
      <h2>Entry-JS</h2>
    </div>
    <div id="content">
    </div>


</body>
</html>
